html{
  box-sizing: border-box;
  background-color: #bfbfbf;
}
#navbar{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  float: left;
  width: 200px;
  height: 350px;
  position: fixed;  
}
#main-doc{
  overflow: scroll;
  border: 1px solid black;
  box-sizing: border-box;
  width: 60%;
  background-color: #ffff;
  margin: 0 auto;
  padding: 20px;
}
code{
  background-color: #bfbfbf;
  font-size: 16px;
}
@media(max-width:668px) {
    #main-doc{
      width: 358px;
    }
    #navbar{
      width: 258px;
    }
}